<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mission/detailMission.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/mission/detailMission.js"></script>
</th:block>

<div layout:fragment="content" class="container-fluid">

    <div class="row justify-content-center mission-info-wrapper">
        <input type="hidden" id="missionSeq" th:value="${mission.missionSeq}">
        <input type="hidden" id="autoAccessYn" th:value="${mission.autoAccessYn}">
        <input type="hidden" id="missionCreatedUserId" th:value="${mission.user.userId}">

        <div class="col-sm-3">
            <img id="mission-image" th:src="${mission.missionImage}">
        </div>

        <div class="col-sm-3">
            <div class="mission-info-div">
                <h3 class="mission-name" th:text="${mission.missionNm}">미션 제목</h3>
                <span class="mission-start-date"
                      th:text="${#temporals.format(mission.missionStDt, 'yyyy-MM-dd HH:mm')}"></span>
                ~
                <span class="mission-end-date"
                      th:text="${#temporals.format(mission.missionEndDt, 'yyyy-MM-dd HH:mm')}"></span>
                <div class="mission-desc-div" th:utext="${mission.missionDesc}"></div>
                <div style="display: flex">
                    <button type="button" class="btn btn-primary" id="btn-join-mission-modal">미션 참여하기</button>
                    <button type="button" class="btn btn-success" id="btn-secession-mission-modal">미션 탈퇴하기</button>
                    <button type="button" class="btn btn-light" id="btn-participants-management-modal" data-toggle="tooltip" title="미션 참여자 관리"><i class="fas fa-user-cog fa-2x"></i></button>
                    <button type="button" class="btn btn-light" id="btn-modify-mission-form" data-toggle="tooltip" title="미션 수정"><i class="fas fa-edit fa-2x"></i></button>
                    <button type="button" class="btn btn-light" id="btn-delete-mission-modal" data-toggle="tooltip" title="미션 삭제"><i class="fas fa-trash-alt fa-2x"></i></button>
                </div>
            </div>
        </div>

    </div>

    <div class="container mission-state-wrapper">
        <div class="mission-participants-div">
            <h4>미션 참여자</h4>
            <br/>
            <div class="mission-participants-info" th:if="${missionParticipants != null}">

                <div class="mission-participants-info-result" th:each="participants : ${missionParticipants}"
                     th:object="${participants}" th:if="${participants.missionJoinYn != 'N'}">
                    <input type="hidden" name="participantsId" th:value="${participants.user.userId}">
                    <img th:src="${participants.user.profileImage}">
                    <span th:text="${participants.user.userNm}"></span>
                </div>
            </div>
        </div>

        <div class="mission-state-div">

            <div class="mission-submit-info-div">
                <div class="mission-submit-info-color">
                    <span><i class="fas fa-times-circle" style="color: #f55858;"></i>&nbsp;미제출</span>
                    <span><i class="fas fa-dot-circle" style="color: #007bff;"></i>&nbsp;제출</span>
                    <span><i class="fas fa-check-circle" style="color: #00c700;"></i>&nbsp;승인</span>
                </div>
                <h4>미션 현황</h4>
                <div class="mission-submit-btn-div">
                    <button type="button" class="btn btn-primary" id="btn-mission-submit-modal">미션 제출</button>
                </div>
            </div>

            <br/>

            <!-- 주차 -->
            <ul class="nav nav-tabs" id="weeks" th:with="id = '#week', weekName = '주차'">
                <li class="nav-item" th:each="week : ${dateOfWeek}">
                    <a class="nav-link" data-toggle="tab" th:href="${id + weekStat.count}"
                       th:text="${weekStat.count + weekName}"></a>
                </li>
            </ul>

            <!-- 주차별 미션현황 -->
            <div class="tab-content" id="weeks-info" th:with="id = 'week'">
                <th:block th:each="week : ${dateOfWeek}">
                    <div class="tab-pane container" th:id="${id + weekStat.count}">
                        <input type="hidden" name="missionStateWeek" th:value="${weekStat.count}">
                        <table class="table">
                            <colgroup>
                                <col width="19.3%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th:block th:each="date : ${dateOfWeek.get(weekStat.index)}">
                                    <th th:text="|${#temporals.format(date, 'MM.dd')}(${#temporals.dayOfWeekNameShort(date)})|"></th>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody th:if="${missionParticipants != null}">
                            <tr th:each="participants : ${missionParticipants}" th:object="${participants}"
                                th:if="${participants.missionJoinYn != 'N'}">
                                <td>
                                    <div>
                                        <input type="hidden" name="participantsId" th:value="${participants.user.userId}">
                                        <img th:src="${participants.user.profileImage}" alt="profile-Image">
                                        <span th:text="${participants.user.userNm}"></span>
                                    </div>
                                </td>
                                <td class="a" th:each="date : ${dateOfWeek.get(weekStat.index)}" style="text-align: center;">
                                    <input type="hidden" name="week-date" th:value="${date}">
                                    <th:block th:each="allMissionState : ${allMissionState}" th:object="${allMissionState}"
                                              th:if="${allMissionState.missionStateWeek == weekStat.count
                                                        and allMissionState.userId == participants.user.userId
                                                        and #temporals.format(allMissionState.submittedMissionDt, 'yyyy-MM-dd').equals(date.toString())}"
                                              th:switch="${allMissionState.approvalYn}">
                                        <input type="hidden" name="missionStateSeq" th:value="${allMissionState.missionStateSeq}">
                                        <i th:case="Y" class="fas fa-check-circle fa-2x" style="color: #00c700;"></i>
                                        <i th:case="N" class="fas fa-dot-circle fa-2x" style="color: #007bff;"></i>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </th:block>
            </div>
        </div>
        <script th:inline="javascript">
            var allMissionState = [[${allMissionState}]];

            $(".tab-pane .table .a").each(function(){
                if($(this).find("input[name='missionStateSeq']").length == 0){
                    $(this).append('<i class="fas fa-times-circle fa-2x" style="color: #f55858;"></i>');
                }
            });
        </script>

        <br/>

        <div class="approve-wait-submit-mission-wrapper">
            <h4>승인 대기 미션</h4>
            <br/>
            <div class="row approve-wait-submit-mission-div">

                <th:block th:each="allMissionState : ${allMissionState}">
                    <th:block th:if="${allMissionState.approvalYn == 'N' and allMissionState.rejectionYn == 'N'}">
                        <div class="col-sm-4">
                            <div class="card">
                                <input type="hidden" name="approvalMissionStateSeq" th:value="${allMissionState.missionStateSeq}">
                                <input type="hidden" name="approvalMissionStateWeek" th:value="${allMissionState.missionStateWeek}">
                                <img class="card-img-top" th:src="${allMissionState.submittedMissionImage}" alt="Card image">
                                <div class="card-body">
                                    <p th:text="${allMissionState.submittedMissionNm}"></p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"
                                        th:each="participants : ${missionParticipants}" th:object="${participants}"
                                        th:if="${participants.user.userId == allMissionState.userId}">
                                        <img th:src="${participants.user.profileImage}" alt="participants-image">
                                        <span th:text="${participants.user.userNm}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span th:text="제출완료"></span>
                                        <span th:text="${#temporals.format(allMissionState.submittedMissionDt, 'yyyy-MM-dd HH:mm')}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
        <script th:inline="javascript">
            var allMissionState = [[${allMissionState}]];
            var arrOfApprovalN = new Array();
            var str = '<div class="col-sm-12">'
                        + '<p class="empty-approve-wait-submit-mission-desc">승인 대기 중인 미션이 존재하지 않습니다.</p>'
                        + '</div>';

            allMissionState.forEach(function(item){
                if(item.approvalYn == 'N' && item.rejectionYn == 'N'){
                    arrOfApprovalN.push(item);
                }
            });

            // 제출 미션이 존재하지 않거나, 승인 대기 미션이 존재하지 않으면
            if(allMissionState.length == 0 || arrOfApprovalN.length <= 0){
                $(".approve-wait-submit-mission-div").append(str);
            }
        </script>

        <br/>

        <!-- 인증이 된 유저(로그인한)이고 미션 참여자 일 때 '나의 제출 미션' 보이기 -->
        <th:block sec:authorize="isAuthenticated()"
             th:each="participants : ${missionParticipants}" th:object="${participants}"
             th:if="${participants.user.userId == #authentication.principal.LoginUserDto.userId}">

            <div class="my-submit-mission-wrapper">
                <h4>나의 제출 미션</h4>
                <br/>
                <div class="row my-submit-mission-div">

                    <th:block th:each="myMissionState : ${myMissionState}" th:if="${#lists.size(myMissionState) > 0}">
                        <div class="col-sm-4">
                            <div class="card">
                                <input type="hidden" name="myMissionStateSeq" th:value="${myMissionState.missionStateSeq}">
                                <input type="hidden" name="myMissionStateWeek" th:value="${myMissionState.missionStateWeek}">
                                <img class="card-img-top" th:src="${myMissionState.submittedMissionImage}" alt="Card image">
                                <div class="card-body">
                                    <p th:text="${myMissionState.submittedMissionNm}"></p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span th:text="제출완료"></span>
                                        <span th:text="${#temporals.format(myMissionState.submittedMissionDt, 'yyyy-MM-dd HH:mm')}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <th:block th:if="${myMissionState.approvalYn == 'N' and myMissionState.rejectionYn == 'N'}">
                                            <span th:text="승인대기" style="color: #00af00; font-weight: bold;"></span>
                                        </th:block>
                                        <th:block th:if="${myMissionState.approvalYn == 'N' and myMissionState.rejectionYn == 'Y'}">
                                            <span th:text="반려" style="color: #f55858; font-weight: bold;"></span>
                                            <span th:text="${#temporals.format(myMissionState.rejectionDt, 'yyyy-MM-dd HH:mm')}"></span>
                                        </th:block>
                                        <th:block th:if="${myMissionState.approvalYn == 'Y' and myMissionState.rejectionYn == 'N'}">
                                            <span th:text="승인완료" style="color: #007bff; font-weight: bold;"></span>
                                            <span th:text="${#temporals.format(myMissionState.approvalDt, 'yyyy-MM-dd HH:mm')}"></span>
                                        </th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>

                    <th:block th:unless="${#lists.size(myMissionState) > 0}">
                        <div class="col-sm-12">
                            <p class="empty-submit-mission-desc">제출한 미션이 존재하지 않습니다.</p>
                        </div>
                    </th:block>

                </div>
            </div>

        </th:block>

    </div>

    <br/>

    <!-- [미션 참여하기], [미션 탈퇴하기], [미션 삭제하기] Modal -->
    <div class="modal" id="response-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="response-modal-desc-div">
                        <h3></h3>
                        <p></p>
                    </div>
                    <!-- 미션 생성자 - [미션 삭제하기] 클릭 시 보이는 버튼-->
                    <div class="response-modal-btn-div" id="delete-mission-btn-div">
                        <button type="button" class="btn btn-danger" id="btn-delete-mission">삭제</button>
                        <button type="button" class="btn btn-light" name="btn-cancel-response-modal">취소</button>
                    </div>
                    <!-- 비회원 - [미션 참여하기] 클릭 시 보이는 버튼 -->
                    <div class="response-modal-btn-div" id="no-login-btn-div">
                        <button type="button" class="btn btn-primary" id="btn-login-form">로그인</button>
                        <button type="button" class="btn btn-dark" id="btn-join-form">회원가입</button>
                        <button type="button" class="btn btn-light" id="btn-main-form">홈으로</button>
                    </div>
                    <!-- 회원 - [미션 참여하기] 클릭 시 보이는 버튼 -->
                    <div class="response-modal-btn-div" id="join-mission-btn-div">
                        <button type="button" class="btn btn-primary" id="btn-join-mission">참여</button>
                        <button type="button" class="btn btn-light" name="btn-cancel-response-modal">취소</button>
                    </div>
                    <!-- 회원 - [미션 탈퇴하기] 클릭 시 보이는 버튼 -->
                    <div class="response-modal-btn-div" id="secession-mission-btn-div">
                        <button type="button" class="btn btn-success" id="btn-secession-mission">탈퇴</button>
                        <button type="button" class="btn btn-light" name="btn-cancel-response-modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [미션 참여자 관리] Modal -->
    <div class="modal" id="mission-participants-management-modal">
        <xdiv class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">미션 참여자 관리</h5>
                    <button type="button" class="close" name="btn-cancel-mission-participants-management-modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body" th:if="${missionParticipants != null}">

                    <div class="mission-participants-management-div justify-content-between"
                         th:each="participants : ${missionParticipants}" th:object="${participants}"
                         th:if="${participants.user.userId != mission.user.userId}">
                        <div class="mission-participants-management-info-div">
                            <input type="hidden" name="participantsSeq" th:value="${participants.user.userSeq}">
                            <input type="hidden" name="participantsId" th:value="${participants.user.userId}">
                            <img th:src="${participants.user.profileImage}">
                            <span th:text="${participants.user.userNm}"></span>
                        </div>
                        <div class="mission-participants-management-btn-div"
                             th:if="${participants.missionJoinYn == 'N'}">
                            <button type="button" class="btn btn-primary" name="btn-approve-participants">
                                승인
                            </button>
                        </div>
                        <div class="mission-participants-management-btn-div"
                             th:if="${participants.missionJoinYn == 'Y'}">
                            <button type="button" class="btn btn-danger" name="btn-expulsion-participants">
                                강퇴
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </xdiv>
    </div>

    <!-- 미션 제출 Modal -->
    <div class="modal" id="mission-submit-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" id="submittedMissionNm" class="form-control" placeholder="제목을 입력하세요.">
                    <hr/>
                    <textarea id="submittedMissionDesc" class="form-control" rows="10" placeholder="완료한 미션에 대한 간단한 설명을 적어주세요."></textarea>
                    <hr/>
                    <div class="submit-mission-image-info-div">
                        <div class="submit-mission-image-div">
                            <img id="submit-mission-image" src="" alt="mission-image">
                            <div class="submit-mission-image-desc">
                                <i class="fas fa-cloud-upload-alt fa-3x"></i>
                                <p>미션을 완료한 이미지를 올려주세요!</p>
                            </div>
                        </div>
                        <input type="file" id="file" accept="image/*">
                    </div>
                    <hr/>
                    <div>
                        <button type="button" class="btn btn-primary" id="btn-create-submit-mission">제출</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-submit-mission">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 승인 대기 미션 modal -->
    <div class="modal" id="approval-wait-submit-mission-modal">
        <input type="hidden" id="approval-wait-submittedMissionSeq">
        <input type="hidden" id="approval-wait-submittedMissionWeek">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" id="approval-wait-submittedMissionNm" class="form-control" readonly="readonly">
                    <hr/>
                    <textarea id="approval-wait-submittedMissionDesc" class="form-control" rows="10" readonly="readonly"></textarea>
                    <hr/>
                    <div class="approval-wait-submit-mission-image-info-div">
                        <div class="approval-wait-submit-mission-image-div">
                            <img id="approval-wait-submit-mission-image" alt="mission-image">
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <input type="text" class="form-control" id="approval-wait-rejectionDesc" placeholder="반려 처리 시, 반려 이유를 입력해주세요.">
                    </div>
                    <hr/>
                    <div>
                        <button type="button" class="btn btn-primary" id="btn-approval-wait-submit-mission">승인</button>
                        <button type="button" class="btn btn-danger" id="btn-rejection-approval-wait-submit-mission">반려</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-approval-wait-submit-mission">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 승인 대기 미션 - 이미지 div 클릭 시, 해당 이미지를 크게 보여주는 modal -->
    <div class="modal" id="open-image-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="btn-close-open-image-modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <img alt="approval-mission-image">
                </div>
            </div>
        </div>
    </div>

    <!-- 나의 미션 현황 상세 modal -->
    <div class="modal" id="my-submit-mission-modal">
        <input type="hidden" id="my-submittedMissionSeq">
        <input type="hidden" id="my-submittedMissionWeek">
        <input type="hidden" id="my-approvalYn">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" id="my-submittedMissionNm" class="form-control" placeholder="제목을 입력하세요.">
                    <hr/>
                    <textarea id="my-submittedMissionDesc" class="form-control" rows="10" placeholder="완료한 미션에 대한 간단한 설명을 적어주세요."></textarea>
                    <hr/>
                    <div class="my-submit-mission-image-info-div">
                        <div class="my-submit-mission-image-div">
                            <img id="my-submit-mission-image" alt="mission-image">
                        </div>
                        <input type="file" id="my-file" accept="image/*">
                    </div>
                    <hr/>
                    <div class="my-submit-mission-rejectionDesc" style="display: none;">
                        <input type="text" class="form-control" id="my-rejectionDesc" readonly="readonly">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" id="btn-modify-my-submit-mission">수정</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-my-submit-mission">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- container end -->

</html>