<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mission/detailMission.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/mission/detailMission.js"></script>
</th:block>

<div layout:fragment="content" class="container-fluid">

    <div class="row justify-content-center mission-info-wrapper">
        <input type="hidden" id="missionSeq" th:value="${mission.missionSeq}">

        <div class="col-sm-3">
            <img id="mission-image" th:src="${mission.missionImage}">
        </div>

        <div class="col-sm-3">
            <div class="mission-info-div">
                <h3 class="mission-name" th:text="${mission.missionNm}">미션 제목</h3>
                <span class="mission-start-date" th:text="${mission.missionStDt}"></span>
                ~
                <span class="mission-end-date" th:text="${mission.missionEndDt}"></span>
                <div class="mission-desc-div" th:utext="${mission.missionDesc}"></div>
                <button type="button" class="btn btn-primary" id="btn-join-mission">미션 참여하기</button>
            </div>
        </div>

    </div>

    <div class="container mission-state-div">

        <div class="mission-participants-div">
            <h4>미션 참여자</h4>
            <br/>
            <div class="mission-participants-info" th:if="${mission.missionParticipants != null}">
                <div class="mission-participants-info-result" th:each="participants : ${mission.missionParticipants}">
                    <img th:src="${participants.user.profileImage}">
                    <span th:text="${participants.user.userNm}"></span>
                </div>
            </div>
        </div>

        <div class="aaa">
            <div class="bbb">
                <h4>미션 현황</h4>
                <div class="ccc">
                    <span><i class="fas fa-square" style="color: red;"></i>&nbsp;미제출</span>
                    <span><i class="fas fa-square" style="color: blue;"></i>&nbsp;제출</span>
                    <span><i class="fas fa-square" style="color: green;"></i>&nbsp;승인</span>
                </div>
            </div>
            <br/>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#week1">1주차</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#week2">2주차</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#week3">3주차</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#week4">4주차</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#week5">5주차</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="week1">
                    <table class="table">
                        <colgroup>
                            <col width="220px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th>1.17(월)</th>
                            <th>1.18(화)</th>
                            <th>1.19(수)</th>
                            <th>1.20(목)</th>
                            <th>1.21(금)</th>
                            <th>1.22(토)</th>
                            <th>1.23(일)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container fade" id="week2">
                    <table class="table">
                        <colgroup>
                            <col width="220px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th>1.17(월)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>이영우</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container fade" id="week3">3주차</div>
                <div class="tab-pane container fade" id="week4">4주차</div>
                <div class="tab-pane container fade" id="week5">5주차</div>
            </div>
        </div>

    </div>


</div>
<!-- container end -->

</html>