<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mission/missions.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/mission/missions.js"></script>
</th:block>

<div layout:fragment="content" class="container">
    <div class="all-mission-wrapper-div">

        <div class="row all-mission-div">

            <div class="col-sm-12 search-div">
                <form method="get" th:action="@{/missions}">
                <div class="input-group search-input-div">
                    <input type="hidden" name="page" th:value="${firstPage}">
                    <input type="search" class="form-control" id="search" name="search" placeholder="참여하고 싶은 미션을 검색해보세요!" th:value="${search}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark" id="btn-search"><i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                </form>
            </div>

            <div class="col-sm-12 create-mission-div" sec:authorize="hasRole('ROLE_USER')">
                <button type="button" class="btn btn-dark" id="btn-create-mission">미션 만들기</button>
            </div>

            <div class="col-sm-4 mission-div" th:each="mission : ${missions}">
                <input type="hidden" name="missionSeq" th:value="${mission.missionSeq}">
                <div class="card mission">
                    <img class="card-img-top" th:src="${mission.missionImage}" alt="mission-image">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${mission.missionNm}">미션 제목</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="mission-writer-image-div">
                                <img class="mission-writer-image" th:src="${mission.user.profileImage}" alt="mission-writer-image">
                                <p class="mission-writer" th:text="${mission.user.userNm}">미션 작성자</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <th:block th:if="${lastPage == 0}">
                <div class="col-sm-12 empty-mission-div">
                    <div class="empty-mission-desc">
                        <i class="fa-solid fa-circle-question fa-3x"></i>
                        <h3>해당 미션이 존재하지 않습니다!</h3>
                        <span>미션 제목 또는 작성자를 확인해주세요.</span>
                    </div>
                </div>
            </th:block>

        </div>

    </div>
    <!-- .all-mission-wrapper-div end-->

    <th:block th:if="${lastPage > 0}">

        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == missions.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link move-page" th:href="@{/missions(page=${firstPage}, search=${search})}"><i class="fa-solid fa-angles-left"></i></a>
            </li>
            <li class="page-item" th:classappend="${1 == missions.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link move-page" th:href="@{/missions(page=${missions.pageable.pageNumber}, search=${search})}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link pageNum" th:classappend="${firstPage == missions.pageable.pageNumber + 1} ? 'selected'" th:text="${firstPage}" th:href="@{/missions(page=${firstPage}, search=${search})}">첫번째 페이지</a>
            </li>

            <th:block th:if="${lastPage > 1}">

                <th:block th:if="${missions.pageable.pageNumber - firstPage > 3}">
                    <li class="page-item">
                        <a class="page-link pageNum">...</a>
                    </li>
                </th:block>

                <li class="page-item" th:each="pNo : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link pageNum" th:classappend="${pNo == missions.pageable.pageNumber + 1} ? 'selected'" th:text="${pNo}" th:href="@{/missions(page=${pNo}, search=${search})}">선택 페이지</a>
                </li>

                <th:block th:if="${lastPage - missions.pageable.pageNumber > 5}">
                    <li class="page-item">
                        <a class="page-link pageNum"><span>...</span></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link pageNum" th:classappend="${lastPage == missions.pageable.pageNumber + 1} ? 'selected'" th:text="${lastPage}" th:href="@{/missions(page=${lastPage}, search=${search})}">마지막 페이지</a>
                </li>

            </th:block>

            <li class="page-item" th:classappend="${missions.totalPages == missions.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link move-page" th:href="@{/missions(page=${missions.pageable.pageNumber + 2}, search=${search})}"><i class="fa-solid fa-angle-right"></i></a>
            </li>
            <li class="page-item" th:classappend="${missions.totalPages == missions.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link move-page" th:href="@{/missions(page=${lastPage}, search=${search})}"><i class="fa-solid fa-angles-right"></i></a>
            </li>
        </ul>

    </th:block>

</div>
<!-- container end -->

</html>