body {
    overflow: hidden;
}

#response-modal {
    background-color:rgba(0,0,0,.3);
}

.modal-body {
    padding: 30px;
    text-align: center;
}

.response-modal-img-div #check-icon {
    width: 15%;
}

.response-modal-desc-div {
    margin-top: 20px;
    margin-bottom: 30px;
}

.response-modal-desc-div h3 {
    font-weight: bold;
}

.response-modal-desc-div p {
    margin: 0px;
}

.response-modal-btn-div button {
    width: 150px;
    height: 45px;
}