<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/board/boards.css}"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/js/board/boards.js}"></script>
</th:block>

<div layout:fragment="content" class="container">
  <div class="board-wrapper">

    <div class="board-title">
      <h4>커뮤니티</h4>
      <p>모두의 커뮤니티입니다. 자유롭게 글을 쓰고 소통하세요!</p>
    </div>
    <hr/>

    <div class="board-menu">
      <div class="board-count">
        <p><i class="fa-solid fa-bars mr-2"></i>전체 <span th:text="${totalCount}"></span> 건</p>
      </div>

      <div class="board-search">
        <form method="get" th:action="@{/boards}">
          <div class="input-group search-input-div">
            <input type="hidden" name="page" th:value="${firstPage}">
            <select name="category" class="form-control">
              <option value="">전체</option>
              <th:block th:each="bt : ${boardType}">
                <option th:value="${bt.boardTypeCode}" th:text="${bt.boardTypeNm}">분류명</option>
              </th:block>
            </select>
            <input type="search" class="form-control" id="search" name="search" placeholder="제목 / 작성자 검색" th:value="${search}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-dark" id="btn-search"><i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <script th:inline="javascript">
        $(function(){
          $("select").val([[${category}]]);
        });
      </script>

      <div class="board-button">
        <button type="button" class="btn btn-dark" id="btn-move-create-board-form"><i class="fa-solid fa-pen-to-square mr-3 fa-lg"></i>글 쓰기</button>
      </div>
    </div>

    <div class="board-list-div">
      <table class="table">
        <colgroup>
          <col width="100px">
          <col width="150px">
          <col width="auto">
          <col width="200px">
          <col width="150px">
          <col width="100px">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>분류</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b : ${board}">
            <td class="board-num"><span th:text="${b.boardSeq}">번호</span></td>
            <td>
              <span class="board-type" th:classappend="${b.boardType}" th:text="${b.boardTypeNm}">분류</span>
            <td><span th:text="${b.boardNm}">제목</span></td>
            <td>
              <img th:src="${b.profileImage}">
              <span th:text="${b.userNm}">작성자이름</span>
            </td>
            <td><span th:text="${#temporals.format(b.insDtm, 'yyyy-MM-dd')}"></span></td>
            <td><span th:text="${b.viewCount}"></span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <th:block th:if="${lastPage > 0}">

      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == board.pageable.pageNumber + 1} ? 'disabled'">
          <a class="page-link move-page" th:href="@{/boards(page=${firstPage}, search=${search}, category=${category})}"><i class="fa-solid fa-angles-left"></i></a>
        </li>
        <li class="page-item" th:classappend="${1 == board.pageable.pageNumber + 1} ? 'disabled'">
          <a class="page-link move-page" th:href="@{/boards(page=${board.pageable.pageNumber}, search=${search}, category=${category})}"><i class="fa-solid fa-angle-left"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link pageNum" th:classappend="${firstPage == board.pageable.pageNumber + 1} ? 'selected'" th:text="${firstPage}" th:href="@{/boards(page=${firstPage}, search=${search}, category=${category})}">첫번째 페이지</a>
        </li>

        <th:block th:if="${lastPage > 1}">

          <th:block th:if="${board.pageable.pageNumber - firstPage > 3}">
            <li class="page-item">
              <a class="page-link pageNum">...</a>
            </li>
          </th:block>

          <li class="page-item" th:each="pNo : ${#numbers.sequence(startPage, endPage)}" th:if="${endPage >= 2}">
            <a class="page-link pageNum" th:classappend="${pNo == board.pageable.pageNumber + 1} ? 'selected'" th:text="${pNo}" th:href="@{/boards(page=${pNo}, search=${search}, category=${category})}">선택 페이지</a>
          </li>

          <th:block th:if="${lastPage - board.pageable.pageNumber > 5}">
            <li class="page-item">
              <a class="page-link pageNum"><span>...</span></a>
            </li>
          </th:block>

          <li class="page-item">
            <a class="page-link pageNum" th:classappend="${lastPage == board.pageable.pageNumber + 1} ? 'selected'" th:text="${lastPage}" th:href="@{/boards(page=${lastPage}, search=${search}, category=${category})}">마지막 페이지</a>
          </li>
        </th:block>

        <li class="page-item" th:classappend="${board.totalPages == board.pageable.pageNumber + 1} ? 'disabled'">
          <a class="page-link move-page" th:href="@{/boards(page=${board.pageable.pageNumber + 2}, search=${search}, category=${category})}"><i class="fa-solid fa-angle-right"></i></a>
        </li>
        <li class="page-item" th:classappend="${board.totalPages == board.pageable.pageNumber + 1} ? 'disabled'">
          <a class="page-link move-page" th:href="@{/boards(page=${lastPage}, search=${search}, category=${category})}"><i class="fa-solid fa-angles-right"></i></a>
        </li>
      </ul>

    </th:block>

  </div>

</div>

</html>