<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/board/boards.css}"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/js/board/boards.js}"></script>
</th:block>

<div layout:fragment="content" class="container">
  <div class="board-wrapper">

    <div class="board-title">
      <h4>커뮤니티</h4>
      <p>모두의 커뮤니티입니다. 자유롭게 글을 쓰고 소통하세요!</p>
    </div>
    <hr/>

    <div class="board-menu">
      <div class="board-count">
        <p><i class="fa-solid fa-bars mr-2"></i>전체 <span th:text="${#lists.size(board)}"></span> 건</p>
      </div>

      <div class="board-search">
        <form method="get" th:action="@{/missions}">
          <div class="input-group search-input-div">
            <input type="hidden" name="page" th:value="${firstPage}">
            <input type="search" class="form-control" id="search" name="search" placeholder="제목 / 작성자 검색" th:value="${search}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-dark" id="btn-search"><i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="board-button">
        <button type="button" class="btn btn-dark" id="btn-move-create-board-form"><i class="fa-solid fa-pen-to-square mr-3 fa-lg"></i>글 쓰기</button>
      </div>
    </div>

    <div class="board-list-div">
      <table class="table">
        <colgroup>
          <col width="100px">
          <col width="150px">
          <col width="auto">
          <col width="200px">
          <col width="200px">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b : ${board}">
            <td class="board-num"><span th:text="${b.boardSeq}">번호</span></td>
            <td>
              <th:block>
                <span class="board-type">홍보</span>
              </th:block>
            </td>
            <td><span th:text="${b.boardNm}">제목</span></td>
            <td>
              <img th:src="${b.profileImage}">
              <span th:text="${b.userNm}">작성자이름</span>
            </td>
            <td><span th:text="${#temporals.format(b.insDtm, 'yyyy-MM-dd')}"></span></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

</html>