<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/board/createAndModifyBoard.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
  <script src="/js/board/createBoard.js"></script>
</th:block>

<div layout:fragment="content" class="container">
  <div class="create-board-wrapper-div">
    <div class="create-board-form-div">
      <table class="table">
        <colgroup>
          <col width="150px;">
          <col width="auto">
        </colgroup>
        <tbody>
        <tr>
          <td colspan="2" class="board-title"><input type="text" class="form-control" id="boardNm"
                                                       placeholder="게시글 제목을 입력하세요." maxlength="32"></td>
        </tr>
        <tr>
          <td colspan="2" class="board-desc"><textarea id="boardDesc"></textarea>
          </td>
        </tr>
        <tr>
          <th>댓글 여부</th>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="autoAccessY" name="autoAccessYn" value="Y" checked>
              <label class="form-check-label" for="autoAccessY">
                허용
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="autoAccessN" name="autoAccessYn" value="N">
              <label class="form-check-label" for="autoAccessN">
                허용안함
              </label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="board-button-div justify-content-center">
      <button type="button" class="btn btn-dark" id="btn-temporary-board">임시저장</button>
      <button type="button" class="btn btn-primary" id="btn-save-board">등록</button>
      <button type="button" class="btn btn-light" id="btn-cancel">취소</button>
    </div>
  </div>

</div>

</html>