<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/detailBoard.css}"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/board/detailBoard.js}"></script>
</th:block>

<div layout:fragment="content" class="container">

    <div class="board-wrapper">

        <div class="board-info-div">
            <h4 th:text="${board.boardNm}">게시글 제목</h4>
            <div class="board-user-info-div justify-content-between">
                <div class="board-user-insDtm-div">
                    <img th:src="${board.profileImage}" style=""><span th:text="${board.userNm}"></span>
                    <span><i class="fa-solid fa-grip-lines-vertical ml-2 mr-2"></i></span>
                    <span th:text="${#temporals.format(board.insDtm, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <th:block th:if="${board.userId == #authentication.principal.LoginUserDto.userId}">
                    <div class="board-user-buttons">
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="수정"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="삭제"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </th:block>
            </div>
        </div>

        <hr/>

        <div class="board-desc-div" th:utext="${board.boardDesc}">

        </div>

        <th:block th:if="${#lists.size(board.boardFileList) > 0}">
            <div class="board-file-div">
                <div class="board-file-icon-div">
                    <i class="fa-solid fa-file-lines fa-3x"></i>
                    <p>파일 목록</p>
                </div>
                <div class="board-file-list">
                    <ul class="list-group">
                        <th:block th:each="bf : ${board.boardFileList}">
                            <li class="list-group-item">
                                <input type="hidden" name="fileSeq" th:value="${bf.fileSeq}">
                                <span class="file-name" th:text="${bf.fileOriginNm}"></span>
                                <span class="file-size" th:text="${bf.fileSize}"></span>
                                <span class="file-download"><i class="fa-solid fa-circle-down fa-lg"></i></span>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </th:block>

        <hr/>


    </div>

</div>

</html>