<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/detailBoard.css}"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/board/detailBoard.js}"></script>
</th:block>

<div layout:fragment="content" class="container">

    <div class="board-wrapper">

        <div class="board-info-div">
            <input type="hidden" id="boardSeq" th:value="${board.boardSeq}">
            <h4 th:text="${board.boardNm}">게시글 제목</h4>
            <div class="board-user-info-div justify-content-between">
                <div class="board-user-insDtm-div">
                    <img th:src="${board.profileImage}" style=""><span th:text="${board.userNm}"></span>
                    <span><i class="fa-solid fa-grip-lines-vertical ml-2 mr-2"></i></span>
                    <span th:text="${#temporals.format(board.insDtm, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <th:block th:if="${board.userId == #authentication.principal.LoginUserDto.userId}">
                    <div class="board-user-buttons">
                        <button type="button" class="btn" id="btn-board-edit-form" data-toggle="tooltip" data-placement="top" title="수정"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn" id="btn-board-delete-modal" data-toggle="tooltip" data-placement="top" title="삭제"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </th:block>
            </div>
        </div>

        <hr/>

        <div class="board-desc-div" th:utext="${board.boardDesc}">

        </div>

        <th:block th:if="${#lists.size(board.boardFileList) > 0}">
            <div class="board-file-div">
                <div class="board-file-icon-div">
                    <i class="fa-solid fa-file-lines fa-3x"></i>
                    <p>파일 목록</p>
                </div>
                <div class="board-file-list">
                    <ul class="list-group">
                        <th:block th:each="bf : ${board.boardFileList}">
                            <li class="list-group-item">
                                <input type="hidden" name="fileSeq" th:value="${bf.fileSeq}">
                                <span><i class="fa-solid fa-folder-open fa-lg mr-3"></i></span>
                                <span class="file-name" th:text="${bf.fileOriginNm}"></span>
                                <span class="file-size" th:text="${bf.fileSize}"></span>
                                <span class="file-download"><i class="fa-solid fa-circle-down fa-lg"></i></span>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </th:block>

        <hr/>

        <div class="board-comment-div">

            <div class="board-comment-list-div" id="board-comment-list-div">
                <div class="board-comment-count-div">
                    <i class="fa-solid fa-comment-dots mr-2"></i><span class="board-comment-count" th:text="|댓글(${boardCommentTotalCount})|"></span>
                </div>

                <th:block th:if="${#lists.size(boardParentComment) > 0}">

                    <ul class="board-comment-list">
                        <th:block th:each="bpc : ${boardParentComment}" th:object="${bpc}" th:if="${bpc.parentCommentSeq == 0}">
                            <li class="board-comment">
                                <input type="hidden" name="commentSeq" th:value="${bpc.commentSeq}">
                                <div class="board-comment-user">
                                    <img th:src="${bpc.profileImage}">
                                    <span th:text="${bpc.userNm}">댓글 작성자</span>
                                    <a class="board-comment-ud" type="button" data-toggle="dropdown"><i class="fa-solid fa-ellipsis fa-lg"></i></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" type="button">수정</a>
                                        <a class="dropdown-item" type="button">삭제</a>
                                    </div>
                                </div>
                                <div class="board-comment-desc-div">
                                    <div class="board-comment-desc" th:utext="${bpc.commentDesc}"></div>
                                    <div class="board-comment-date-reply">
                                        <span class="board-comment-date" th:text="${#temporals.format(bpc.insDtm, 'yyyy-MM-dd HH:mm:ss')}">댓글 등록일</span>
                                        <span class="board-comment-create-reply">답글쓰기</span>
                                    </div>
                                </div>

                                <th:block th:each="bcc : ${boardChildComment}" th:object="${bcc}" th:if="${bpc.commentSeq == bcc.parentCommentSeq}">
                                    <div class="board-comment-reply">
                                        <input type="hidden" name="commentSeq" th:value="${bcc.commentSeq}">
                                        <div class="board-comment-user">
                                            <img th:src="${bcc.profileImage}">
                                            <span th:text="${bcc.userNm}">댓글 작성자</span>
                                        </div>
                                        <div class="board-comment-desc-div">
                                            <div class="board-comment-desc" th:utext="${bcc.commentDesc}"></div>
                                            <div class="board-comment-date-reply">
                                                <span class="board-comment-date" th:text="${#temporals.format(bcc.insDtm, 'yyyy-MM-dd HH:mm:ss')}">댓글 등록일</span>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </li>

                        </th:block>
                    </ul>

                </th:block>

            </div>

            <div class="create-board-comment-form-div">
                <div class="create-board-comment-form justify-content-between">
                    <span th:text="${#authentication.principal.LoginUserDto.userNm}"></span>
                    <div class="text-count-div">
                        <span class="text-count"></span>/<span>200</span>
                    </div>
                </div>
                <textarea class="board-comment-content" placeholder="댓글을 입력하세요" maxlength="200"></textarea>
                <div class="board-comment-buttons">
                    <button type="button" class="btn btn-primary" id="btn-create-board-comment">등록</button>
                </div>
            </div>

        </div>

    </div>

    <!-- 게시글 - [삭제] - 경고 modal -->
    <div class="modal" id="response-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="response-modal-desc-div">
                        <h3>삭제하시겠습니까?</h3>
                        <p>모든 게시글 정보가 삭제됩니다.</p>
                        <p>삭제된 게시글은 복구할 수 없습니다.</p>
                    </div>
                    <div class="response-modal-btn-div">
                        <button type="button" class="btn btn-danger" id="btn-board-delete">삭제</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-response-modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>