<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/board/createAndModifyBoard.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/board/modifyBoard.js"></script>
</th:block>

<div layout:fragment="content" class="container">
    <div class="create-board-wrapper-div">
        <div class="create-board-form-div">
            <input type="hidden" id="boardSeq" th:value="${board.boardSeq}">
            <input type="hidden" id="temporaryYn" th:value="${board.temporaryYn}">
            <table class="table">
                <colgroup>
                    <col width="150px;">
                    <col width="auto">
                </colgroup>
                <tbody>
                <tr>
                    <td colspan="2" class="board-title"><input type="text" class="form-control" id="boardNm"
                                                               placeholder="게시글 제목을 입력하세요." maxlength="32"
                                                               th:value="${board.boardNm}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="board-desc"><textarea id="boardDesc"
                                                                 th:utext="${board.boardDesc}"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>카테고리</th>
                    <td>
                        <select class="form-control">
                            <th:block th:each="bt : ${boardType}">
                                <option th:value="${bt.boardTypeCode}" th:text="${bt.boardTypeNm}">분류명</option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <div class="board-file-select-div justify-content-between">
                            <button id="select-file" type="button" class="btn btn-dark">파일 선택</button>
                            <div>
                                <span class="file-size-view"></span><span>/10MB</span>
                            </div>
                        </div>

                        <input type="file" id="file" multiple maxlength="3">

                        <th:block th:if="${#lists.size(board.boardFileList) > 0}">
                            <div class="preview-file-wrapper">
                                <div class="preview-file-icon-div">
                                  <div>
                                    <i class="fa-solid fa-file-lines fa-3x"></i>
                                    <p>파일 목록</p>
                                  </div>
                                </div>
                                <div class="preview-file-list">
                                    <ul class="list-group">

                                        <th:block th:each="bf : ${board.boardFileList}">
                                            <li class="list-group-item">
                                                <input type="hidden" name="fileSeq" th:value="${bf.fileSeq}">
                                                <input type="hidden" name="fileSize" th:value="${bf.fileSize}">
                                                <span><i class="fa-solid fa-folder-open fa-lg mr-3"></i></span>
                                                <span class="file-name" th:text="${bf.fileOriginNm}"></span>
                                                <span th:text="${bf.fileSize}"></span>
                                                <span class="delete-file"><i class="fa-solid fa-xmark"></i></span>
                                            </li>
                                        </th:block>

                                    </ul>
                                </div>
                            </div>
                        </th:block>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 게시글 카테고리 세팅 -->
        <script th:inline="javascript">
          var boardType = [[${board.boardType}]];
          var selectOptions = $("select option");

          selectOptions.each(function(idx, item){
            if(item.value == boardType){
              $(this).prop("selected", true);
            }
          });
        </script>

        <div class="board-button-div justify-content-center">
            <button type="button" class="btn btn-primary" id="btn-save-board">등록</button>
            <button type="button" class="btn btn-light" id="btn-cancel">취소</button>
        </div>
    </div>

</div>


</html>