<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <div class="container">
            <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/">Daily Work</a>
            <a sec:authorize="!isAuthenticated()" class="navbar-brand" href="/missions">Daily Work</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark" id="btn-move-all-mission">전체 MISSION</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark">참여 MISSION</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark">나의 MISSION</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark">달성 MISSION</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark">마감 MISSION</button>
                    </li>
                </ul>
                <div sec:authorize="isAnonymous()">
                    <button type="button" class="btn btn-dark" id="btn-move-login-form">로그인</button>
                    <button type="button" class="btn btn-dark" id="btn-move-join-form">회원가입</button>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <button type="button" class="btn btn-dark" id="btn-move-logout">로그아웃</button>
                </div>
            </div>
        </div>
    </nav>

    <th:block sec:authorize="isAuthenticated()">
        <!-- 모든 곳에서 활용할 수 있도록 회원 번호, 회원 아이디 header에 저장-->
        <input type="hidden" id="userSeq" th:value="${#authentication.principal.LoginUserDto.userSeq}">
        <input type="hidden" id="userId" th:value="${#authentication.principal.LoginUserDto.userId}">
        <input type="hidden" id="userNm" th:value="${#authentication.principal.LoginUserDto.userNm}">
        <input type="hidden" id="profileImage" th:value="${#authentication.principal.LoginUserDto.profileImage}">
    </th:block>

</header>

</html>