<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <div class="container">
            <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/">Daily Work</a>
            <a sec:authorize="!isAuthenticated()" class="navbar-brand" href="/missions">Daily Work</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto menu-left" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark" id="btn-move-all-mission">미션</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark" id="btn-move-boards">커뮤니티</button>
                    </li>
                </ul>
                <ul class="navbar-nav menu-right">
                    <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <button type="button" class="btn btn-dark" id="btn-move-login-form">로그인</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-dark" id="btn-move-join-form">회원가입</button>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="profile-image-icon" type="button" data-toggle="dropdown">
                                <img th:src="${#authentication.principal.LoginUserDto.profileImage}" alt="profile-image">
                            </a>
                            <div class="dropdown-menu" id="profile-menu">
                                <div class="menu-user-info-div">
                                    <img th:src="${#authentication.principal.LoginUserDto.profileImage}">
                                    <div class="menu-user-name-email">
                                        <p class="card-title" th:text="${#authentication.principal.LoginUserDto.userNm}"></p>
                                        <p class="card-text" th:text="${#authentication.principal.LoginUserDto.userEmail}"></p>
                                    </div>
                                </div>
                                <div class="menu-user-post">
                                    <ul>
                                        <li>
                                            <a href="/user/mypage/my-participation-mission">
                                                <span><i class="fa-solid fa-circle-chevron-right fa-lg mr-2"></i></span>
                                                <span>나의 참여 미션</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/user/mypage/my-created-mission">
                                                <span><i class="fa-solid fa-circle-chevron-right fa-lg mr-2"></i></span>
                                                <span>나의 작성 미션</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/user/mypage/my-mission-state">
                                                <span><i class="fa-solid fa-circle-chevron-right fa-lg mr-2"></i></span>
                                                <span>나의 미션 현황</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span><i class="fa-solid fa-circle-chevron-right fa-lg mr-2"></i></span>
                                                <span>나의 게시글</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu-user-logout-and-mypage justify-content-between">
                                    <a href="/user/mypage">마이페이지</a>
                                    <a href="/logout">로그아웃</a>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>

    <th:block sec:authorize="isAuthenticated()">
        <!-- 모든 곳에서 활용할 수 있도록 회원 번호, 회원 아이디 header에 저장-->
        <input type="hidden" id="userSeq" th:value="${#authentication.principal.LoginUserDto.userSeq}">
        <input type="hidden" id="userId" th:value="${#authentication.principal.LoginUserDto.userId}">
        <input type="hidden" id="userNm" th:value="${#authentication.principal.LoginUserDto.userNm}">
        <input type="hidden" id="profileImage" th:value="${#authentication.principal.LoginUserDto.profileImage}">
    </th:block>

</header>

</html>