/* 미션 상세 조회 CSS */
.mission-info-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2a2e33;
}

.mission-info-wrapper #mission-image {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
}

.mission-info-wrapper .mission-info-div {
    max-height: 300px;
    min-height: 300px;
    color: white;
}

.mission-info-wrapper .mission-info-div .mission-name
, .mission-info-wrapper .mission-info-div .mission-start-date
, .mission-info-wrapper .mission-info-div .mission-end-date {
    font-weight: bold;
}

.mission-info-wrapper .mission-info-div .mission-desc-div {
    font-size: 0.9rem;
    min-height: 165px;
    max-height: 165px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mission-info-wrapper .mission-info-div .mission-desc-div p {
    margin-bottom: 0px;
}

.mission-info-wrapper .mission-info-div #btn-join-mission-modal
, .mission-info-wrapper .mission-info-div #btn-secession-mission-modal {
    width: 100%;
    height: 50px;
    display: none;
}

.mission-info-wrapper .mission-info-div #btn-modify-mission-form
, .mission-info-wrapper .mission-info-div #btn-delete-mission-modal {
    width: 45%;
    height: 50px;
    display: none;
}

.mission-info-wrapper .mission-info-div #btn-modify-mission-form {
    margin-right: 15px;
}

.mission-state-div .mission-participants-div {
    margin-top: 30px;
}

.mission-state-div .mission-participants-div .mission-participants-info img {
    width: 40px;
    border-radius: 50%;
}

.mission-state-div .mission-participants-div .mission-participants-info span {
    vertical-align: middle;
}

.mission-state-div .mission-participants-div .mission-participants-info .mission-participants-info-result {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    display: inline-block;
}

.mission-state-div .aaa {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mission-state-div .aaa .nav-tabs {
    text-align: center;
}

.mission-state-div .aaa .nav-item {
    width: 20%;
}

.mission-state-div .aaa .nav-item a {
    color: black;
}

.mission-state-div .aaa .nav-item .nav-link.active {
   border-color: #dee2e6 #dee2e6 #dee2e6;
   color: #0069d9;
   font-weight: bold;
}

.mission-state-div .aaa .tab-content {
    min-height: 500px;
}

.mission-state-div .bbb h4 {
    display: inline-block;
}

.mission-state-div .bbb .ccc {
    float: right;
}

.mission-state-div .bbb .ccc span {
    margin-left: 15px;
}

.tab-content .table thead th {
    text-align: center;
    border: none;
}

.tab-content .table tbody td {
    border: none;
}
.tab-content .table tbody td:nth-child(n+2) {
    border: 1px solid #dee2e6;
}

/* 모달 */
#response-modal {
    background-color:rgba(0,0,0,.3);
}

.modal-body {
    padding: 30px;
    text-align: center;
}

.response-modal-img-div #check-icon {
    width: 15%;
}

.response-modal-desc-div {
    margin-top: 20px;
    margin-bottom: 30px;
}

.response-modal-desc-div h3 {
    font-weight: bold;
}

.response-modal-desc-div p {
    margin: 0px;
}

.response-modal-btn-div button {
    width: 100px;
    height: 45px;
}

.response-modal-btn-div #btn-main-form
, .response-modal-btn-div button[name="btn-cancel"] {
    border-color: #dae0e5;
}