/* 미션 상세 조회 CSS */
.mission-info-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2a2e33;
}

.mission-info-wrapper #mission-image {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
}

.mission-info-wrapper .mission-info-div {
    max-height: 300px;
    min-height: 300px;
    color: white;
}

.mission-info-wrapper .mission-info-div .mission-name
, .mission-info-wrapper .mission-info-div .mission-start-date
, .mission-info-wrapper .mission-info-div .mission-end-date {
    font-weight: bold;
}

.mission-info-wrapper .mission-info-div .mission-desc-div {
    font-size: 0.9rem;
    min-height: 165px;
    max-height: 165px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mission-info-wrapper .mission-info-div .mission-desc-div p {
    margin-bottom: 0px;
}

.mission-info-wrapper .mission-info-div #btn-join-mission-modal
, .mission-info-wrapper .mission-info-div #btn-secession-mission-modal {
    width: 100%;
    height: 50px;
    display: none;
}

.mission-info-wrapper .mission-info-div #btn-modify-mission-form
, .mission-info-wrapper .mission-info-div #btn-delete-mission-modal
, .mission-info-wrapper .mission-info-div #btn-participants-management-modal{
    width: auto;
    height: 50px;
    display: none;
}

.mission-info-wrapper .mission-info-div #btn-participants-management-modal
, .mission-info-wrapper .mission-info-div #btn-modify-mission-form {
    margin-right: 15px;
}

.mission-state-wrapper .mission-participants-div {
    margin-top: 30px;
}

.mission-state-wrapper .mission-participants-div .mission-participants-info img {
    width: 40px;
    border-radius: 50%;
}

.mission-state-wrapper .mission-participants-div .mission-participants-info span {
    vertical-align: middle;
}

.mission-state-wrapper .mission-participants-div .mission-participants-info .mission-participants-info-result {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    display: inline-block;
}

.mission-state-wrapper .mission-state-div {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mission-state-wrapper .mission-state-div .nav-tabs {
    text-align: center;
}

.mission-state-wrapper .mission-state-div .nav-item {
    width: 20%;
}

.mission-state-wrapper .mission-state-div .nav-item a {
    color: black;
}

.mission-state-wrapper .mission-state-div .nav-item .nav-link.active {
   border-color: #dee2e6 #dee2e6 #dee2e6;
   color: #0069d9;
   font-weight: bold;
}

.mission-state-wrapper .mission-state-div .tab-content {
    min-height: 400px;
}

.mission-state-wrapper .mission-submit-info-div h4 {
    display: inline-block;
}

.mission-state-wrapper .mission-submit-info-div .mission-submit-info-color {
    text-align: right;
    margin-bottom: 15px;
}

.mission-state-wrapper .mission-submit-info-div .mission-submit-info-color span {
    margin-left: 15px;
}

.mission-state-wrapper .mission-submit-info-div .mission-submit-btn-div {
    float: right;
    display: none;
}

.mission-state-wrapper .mission-submit-info-div .mission-submit-btn-div button {
    width: 200px;
}

.tab-content .table thead th {
    text-align: center;
    border: none;
}

.tab-content .table tbody td {
    border: none;
}

.tab-content .table tbody td:first-child {
    padding: 0px;
}

.tab-content .table tbody td:first-child > div {
    display: inline-block;
    width: auto;
    padding: 10px;
}

.tab-content .table tbody td:first-child > div img {
    width: 40px;
    border-radius: 50%;
}

.tab-content .table tbody td:first-child > div span {
    vertical-align: middle;
}

.tab-content .table tbody td:nth-child(n+2) {
    border: 1px solid #dee2e6;
}

.approve-wait-submit-mission-wrapper {
    display: none;
}

.approve-wait-submit-mission-wrapper, .my-submit-mission-wrapper {
    margin-bottom: 30px;
}

.my-submit-mission-div .col-sm-4
, .approve-wait-submit-mission-div .col-sm-4 {
    margin-bottom: 20px;
}

.my-submit-mission-div .card
, .approve-wait-submit-mission-div .card {
    max-height: 360px;
    min-height: 360px;
}

.my-submit-mission-div .card:hover
, .approve-wait-submit-mission-div .card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 3px #dddddd;
}

.my-submit-mission-div .card .card-img-top
, .approve-wait-submit-mission-div .card .card-img-top {
    max-height: 195px;
    min-height: 195px;
    border-bottom: 1px solid #dddddd;
}

.my-submit-mission-div .card-body p
, .approve-wait-submit-mission-div .card-body p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
}

.my-submit-mission-div .col-sm-12
, .approve-wait-submit-mission-div .col-sm-12 {
    text-align: center;
    min-height: 300px;
}

.my-submit-mission-div .empty-submit-mission-desc
, .approve-wait-submit-mission-div .empty-approve-wait-submit-mission-desc {
    position: relative;
    top: 45%;
    color: gray;
}

.my-submit-mission-div .list-group .list-group-item span
, .approve-wait-submit-mission-div .list-group .list-group-item span {
    color: gray;
}

.approve-wait-submit-mission-div .list-group-item img {
    width: 30px;
    border-radius: 50%;
}

.my-submit-mission-div .list-group .list-group-item span:nth-child(2)
, .approve-wait-submit-mission-div .list-group .list-group-item span:nth-child(2) {
    float: right;
}

.approve-wait-submit-mission-div .list-group-item:first-child span:nth-child(2) {
    float: none;
    vertical-align: middle;
}

/* [미션 삭제하기], [미션 참여하기], [미션 탈퇴하기] Modal */
#response-modal, #mission-participants-management-modal, #mission-submit-modal, #my-submit-mission-modal, #approval-wait-submit-mission-modal {
    background-color:rgba(0,0,0,.3);
}

.modal-body {
    padding: 30px;
    text-align: center;
}

.response-modal-img-div #check-icon {
    width: 15%;
}

.response-modal-desc-div {
    margin-top: 20px;
    margin-bottom: 30px;
}

.response-modal-desc-div h3 {
    font-weight: bold;
}

.response-modal-desc-div p {
    margin: 0px;
}

.response-modal-btn-div button {
    width: 100px;
    height: 45px;
}

.response-modal-btn-div #btn-main-form
, .response-modal-btn-div button[name="btn-cancel-response-modal"] {
    border-color: #dae0e5;
}

/* 미션 참여자 관리 Modal */
#mission-participants-management-modal .modal-body {
    padding: 20px;
    max-height: 770px;
    overflow-y: auto;
}

#mission-participants-management-modal .modal-body::-webkit-scrollbar {
    width: 10px;
}

#mission-participants-management-modal .modal-body::-webkit-scrollbar-thumb {
    background-color: #dddddd;
}

#mission-participants-management-modal .modal-body::-webkit-scrollbar-track {
    background-color: white;
}

#mission-participants-management-modal .mission-participants-management-div {
    display: flex;
    margin: 10px;
}

#mission-participants-management-modal .mission-participants-management-div .mission-participants-management-info-div {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    width: auto;
}

#mission-participants-management-modal .mission-participants-management-div .mission-participants-management-info-div img {
    width: 40px;
    border-radius: 50%;
}

#mission-participants-management-modal .mission-participants-management-div .mission-participants-management-btn-div button {
    height: 50px;
    width: 70px;
    margin-top: 6px;
}

/* [미션 제출], [나의 제출 미션], [승인 대기 미션] Modal */
#mission-submit-modal input, #mission-submit-modal textarea
, #my-submit-mission-modal input, #my-submit-mission-modal textarea
, #approval-wait-submit-mission-modal input, #approval-wait-submit-mission-modal textarea {
    border: none;
    background-color: white;
}

#mission-submit-modal .submit-mission-image-div
, #my-submit-mission-modal .my-submit-mission-image-div
, #approval-wait-submit-mission-modal .approval-wait-submit-mission-image-div {
    border: 1px dashed #dddddd;
    height: 200px;
}

#mission-submit-modal .submit-mission-image-div:hover
, #my-submit-mission-modal .my-submit-mission-image-div:hover
, #approval-wait-submit-mission-modal .approval-wait-submit-mission-image-div:hover {
    cursor: pointer;
}

#mission-submit-modal .submit-mission-image-div img {
    width: 100%;
    height: 100%;
    display: none;
}

#my-submit-mission-modal .my-submit-mission-image-div img
, #approval-wait-submit-mission-modal .approval-wait-submit-mission-image-div img {
    width: 100%;
    height: 100%;
}

#mission-submit-modal .submit-mission-image-div .submit-mission-image-desc {
    position: relative;
    top: 55px
}

#mission-submit-modal .submit-mission-image-div .submit-mission-image-desc i
, #mission-submit-modal .submit-mission-image-div .submit-mission-image-desc p {
    color: #cfcfcf;
}

#mission-submit-modal .submit-mission-image-info-div #file
, #my-submit-mission-modal .my-submit-mission-image-info-div #my-file {
    display: none;
}

#mission-submit-modal button, #my-submit-mission-modal button, #approval-wait-submit-mission-modal button {
    width: 20%;
}

#mission-submit-modal #btn-cancel-submit-mission
, #my-submit-mission-modal #btn-cancel-my-submit-mission
, #approval-wait-submit-mission-modal #btn-cancel-approval-wait-submit-mission {
    border-color: #dddddd;
}

/* 이미지 열기 modal */
#open-image-modal .modal-dialog {
    max-width: 75%;
}

#open-image-modal img {
    width: 100%;
    max-height: 800px;
}











