/* 전체 MISSION CSS */
.all-mission-wrapper-div {
    padding-top: 45px;
    padding-bottom: 20px;
}

.all-mission-div .mission-div {
    margin-bottom: 20px;
}

.all-mission-div .search-div, .all-mission-div .create-mission-div {
    margin-bottom: 40px;
}

.all-mission-div .search-div .search-input-div {
    width: 50%;
    margin: auto;
}

.all-mission-div .search-div #search {
    height: 50px;
}

.all-mission-div .search-div #btn-search {
    width: 55px;
}

.all-mission-div .create-mission-div #btn-create-mission {
    width: 20%;
    height: 60px;
}

.all-mission-div .mission-div .mission {
    min-height: 372px;
    max-height: 372px;
}

.all-mission-div .mission-div .mission:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 3px #dddddd;
}

.all-mission-div .mission-div .mission .card-img-top {
    border-bottom: 1px solid #dfdfdf;
    max-height: 200px;
    min-height: 200px;
}

.all-mission-div .mission-div .mission .mission-writer-image-div {
    display: flex;
}

.all-mission-div .mission-div .mission .mission-writer-image-div .mission-writer-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.all-mission-div .mission-div .mission .mission-writer-image-div .mission-writer {
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}