.authentication-user {
    padding-top: 45px;
    padding-bottom: 20px;
}

.authentication-user .card {
    padding: 20px;
}

.authentication-user .user-info-card-div .card {
    margin-bottom: 27px;
}

.authentication-user .user-info-card-div .card-img-top {
    width: 65%;
    margin: auto;
}

.authentication-user .user-info-card-div .user-simple-info {
    text-align: center;
}

.authentication-user .user-info-card-div .user-simple-info .card-title {
    margin-bottom: 0px;
}

.authentication-user .user-info-card-div .user-simple-info .card-text {
    color: gray;
    font-size: 0.9rem;
}

.authentication-user .user-info-card-div .user-info-management {
    margin-top: 20px;
}

.authentication-user .user-info-card-div .user-info-management button {
    width: 100%;
}

.authentication-user .mission-rating-character {
    width: 60%;
    margin-top: 35px;
    margin-bottom: 10px;
}

.authentication-user .mission-rate-info h4 {
    margin-bottom: 0px;
    font-weight: bold;
}

.authentication-user .mission-rate-info span {
    color: gray;
    font-size: 0.9rem;
}

.authentication-user .mission-rate-count h4 {
    font-weight: bold
}

.authentication-user .mission-rate-count .mission-all-rating {
    height: 15px;
    width: 100%;
    background-color: #efefef;
}

.authentication-user .mission-rate-count .mission-complete-rating {
    width: 50%;
    height: 15px;
    background-color: #6a83ff;
}

.authentication-user .mission-info-card-div .card {
    margin-bottom: 30px;
}

.authentication-user .mission-info-card-div .mission-info .mission-title {
    display: flex;
}

.authentication-user .mission-info-card-div .mission-info .mission-title h4 {
    margin-bottom: 0px;
    font-weight: bold;
}

.authentication-user .mission-info-card-div .mission-info .mission-title .mission-count {
    color: red;
}

.authentication-user .mission-info-card-div .mission-info span {
    color: gray;
    font-size: 0.9rem;
}

.authentication-user .mission-info-card-div .move-mission-list-div {
    margin-top: 20px;
}

.authentication-user .mission-info-card-div .move-mission-list-div a {
    color: gray;
    float: right;
}