.join-div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
}

.join-title {
    margin-bottom: 30px;
    font-weight: bold;
}

form label {
    font-size: 0.9rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 50px;
}

.id-regExp-description, .password-regExp-description, .name-regExp-description {
    display: none;
}

.description {
    color: gray;
    font-size: 0.8rem;
}

.join-submit-div {
    margin-top: 40px;
    margin-bottom: 40px;
}

.join-submit-div button {
    width: 100%;
    height: 55px;
    font-weight: bold;
}

.simple-join-div {
    text-align: center;
}

.simple-join-description {
    color: gray;
    font-size: 0.8rem;
}

.simple-join-social {
    padding-top: 15px;
}

.simple-join-social a {
    margin-left: 7px;
    margin-right: 7px;
}

.simple-join-social img {
    width: 50px;
    height: 50px;
}
