body {
    overflow: hidden;
}

#login-success-modal {
    background-color:rgba(0,0,0,.3);
}

.modal-body {
    padding: 30px;
    text-align: center;
}

.join-success-desc-div {
    margin-top: 20px;
    margin-bottom: 30px;
}

.join-success-welcome {
    font-weight: bold;
}

.join-success-desc-div p {
    margin: 0px;
}

.join-success-btn-div button {
    width: 150px;
    height: 45px;
}