html, body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    height: 56px;
}

#layout-content {
    min-height: 850px;
}

#collapsibleNavbar {
    justify-content: right;
}

