 .container-fluid {
    padding-right: 30px;
}


 .user-info-card-div {
    border-right: 1px solid #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

 .user-info-card-div .card {
    padding: 20px;
    border: none;
}

 .user-info-card-div .card-img-top {
    width: 50%;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}

 .user-info-card-div .user-simple-info {
    text-align: center;
}

 .user-info-card-div .user-simple-info .card-title {
    margin-bottom: 0px;
}

 .user-info-card-div .user-simple-info .card-text {
    color: gray;
    font-size: 0.9rem;
}

 .user-info-card-div .user-info-management {
    margin-top: 20px;
}

 .user-info-card-div .user-info-management button {
    width: 100%;
}

 .user-info-card-div .my-menu,  .user-info-card-div .my-mission-rating {
    padding: 20px;
}

 .user-info-card-div .my-menu {
    min-height: 350px;
 }

 .user-info-card-div .my-menu p {
    color: #ababab;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

 .user-info-card-div .my-menu ul {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 20px;
}

 .user-info-card-div .my-menu ul li {
    padding: 3px;
}

 .user-info-card-div .my-menu ul li a {
    color: black;
}

 .user-info-card-div .my-menu ul li a:hover {
    font-weight: bold;
    text-decoration: none;
}

 .user-info-card-div .my-menu ul li .my-participation-mission {
    font-weight: bold;
 }

 .user-info-card-div .my-mission-rating .mission-rate-info h4 {
    margin-bottom: 0px;
    font-weight: bold;
}

 .user-info-card-div .my-mission-rating .mission-rate-info p {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 50px;
    margin-top: 3px;
}

 .user-info-card-div .my-mission-rating .mission-all-rating {
    height: 15px;
    width: 100%;
    background-color: #efefef;
}

 .user-info-card-div .my-mission-rating .mission-complete-rating {
    width: 50%;
    height: 15px;
    background-color: #6a83ff;
    margin-top: 5px;
}

.mission-info-card-div .participation-title-div {
    display: inline-block;
    width: 69%;
}

.mission-info-card-div .search-div {
    display: inline-block;
    width: 30%;
}

.mission-info-card-div .search-div #search {
    height: 50px;
}

.mission-info-card-div .search-div #btn-search {
    width: 55px;
}

.mission-info-card-div {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.mission-info-card-div .row {
    padding-left: 15px;
}

.mission-info-card-div .col-sm-12 h5 {
    font-weight: bold;
}

.mission-info-card-div .col-sm-3 {
    margin-bottom: 20px;
}

.mission-info-card-div .col-sm-3 .mission {
    max-height: 316px;
    min-height: 316px;
}

.mission-info-card-div .col-sm-3 .mission:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 3px #dddddd;
}

.mission-info-card-div .col-sm-3 .mission h5 {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mission-info-card-div .col-sm-3 .mission .card-img-top {
    border-bottom: 1px solid #dfdfdf;
    max-height: 190px;
    min-height: 190px;
}

.mission-info-card-div .col-sm-3 .mission .mission-writer-image-div {
    display: flex;
}

.mission-info-card-div .col-sm-3 .mission .mission-writer-image-div .mission-writer-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.mission-info-card-div .col-sm-3 .mission .mission-writer-image-div .mission-writer {
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.mission-info-card-div .empty-desc-div {
    min-height: 700px;
    text-align: center;
}

.mission-info-card-div .empty-desc {
    position: relative;
    top: 45%;
    color: gray;
}

.pagination {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
}

.page-item .move-page {
    color: #555;
}

.page-item .pageNum {
    color: #555;
    border-color: white;
}

.page-item .selected {
    background-color: #343a40;
    color: white;
}

