.modify-password-div {
    padding: 30px;
}

.modify-password-div .modify-password-desc, .modify-password-div .table-div, .modify-password-div .modify-password-btn-div {
    padding: 20px;
}

.modify-password-div .modify-password-desc h3 {
    margin: 0px;
    font-weight: bold;
}

.modify-password-div .modify-password-desc span {
    color: red;
    font-size: 0.9rem;
}

.modify-password-div .table-div .table .description {
    font-size: 0.9rem;
    color: gray;
}

.modify-password-div .table-div .table tr {
    border-bottom: 1px solid #dddddd;
}

.modify-password-div .table-div .table th, .modify-password-div .table-div .table td {
    padding: 20px;
    vertical-align: middle;
}

.modify-password-div .table-div .table .password-regExp-description {
    display: none;
}

.modify-password-div .modify-password-btn-div {
    display: flex;
}

.modify-password-div .modify-password-btn-div button {
    width: 10%;
}

.modify-password-div .modify-password-btn-div #btn-cancel {
    border: 1px solid #dddddd;
    margin-left: 10px;
}

