<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/user/responseModal.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/user/responseModal.js"></script>
</th:block>

<div layout:fragment="content">

    <div class="modal" id="response-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="response-modal-img-div">
                        <img id="check-icon" src="/img/common/check_icon.png">
                    </div>
                    <div class="response-modal-desc-div">
                        <h3>비밀번호 변경이 완료되었습니다.</h3>
                        <p>홈 화면으로 이동합니다.</p>
                    </div>
                    <div class="response-modal-btn-div">
                        <button type="button" class="btn btn-primary" id="btn-logout">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>