<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myMissionState.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/myMissionState.js"></script>
</th:block>

<div layout:fragment="content" class="container-fluid">
    <div class="index-div">
        <!-- 회원 로그인 시 메인 화면 -->
        <div class="row">

            <div class="col-sm-2 user-info-card-div">
                <div class="my-info">
                    <div class="card">
                        <img class="card-img-top" th:src="${#authentication.principal.LoginUserDto.profileImage}"
                             alt="profile_image">
                        <div class="card-body">
                            <div class="user-simple-info">
                                <h5 class="card-title" th:text="${#authentication.principal.LoginUserDto.userNm}"></h5>
                                <p class="card-text" th:text="${#authentication.principal.LoginUserDto.userEmail}"></p>
                            </div>
                            <div class="user-info-management">
                                <button type="button" class="btn btn-dark" id="btn-move-mypage-form">계정 관리</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-menu">
                    <p>마이페이지</p>
                    <ul>
                        <li>
                            <a class="my-page" href="/user/mypage">
                                <span>HOME</span>
                            </a>
                        </li>
                    </ul>
                    <p>미션 관리</p>
                    <ul>
                        <li>
                            <a class="my-participation-mission" href="/user/mypage/my-participation-mission">
                                <span>나의 참여 미션</span>
                            </a>
                        </li>
                        <li>
                            <a class="my-created-mission" href="/user/mypage/my-created-mission">
                                <span>나의 작성 미션</span>
                            </a>
                        </li>
                        <li>
                            <a class="my-mission-state" href="/user/mypage/my-mission-state">
                                <span>나의 미션 현황</span>
                            </a>
                        </li>
                    </ul>
                    <p>커뮤니티</p>
                    <ul>
                        <li>
                            <a href="#">
                                <span>나의 게시글</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="my-mission-rating">
                    <div class="mission-rate-info">
                        <h4 class="card-title">미션 달성률</h4>
                        <p>미션 달성률을 확인할 수 있어요!</p>
                        <h4>50%</h4>
                        <div class="mission-all-rating">
                            <div class="mission-complete-rating"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .user-info-card-div end -->

            <div class="col-sm-10 mission-info-card-div">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mission-state-title-div">
                            <h5><i class="fa-solid fa-bookmark mr-3"></i>나의 미션 현황</h5>
                        </div>
                        <div class="search-div">
                            <form method="get" th:action="@{/user/mypage/my-mission-state}">
                                <div class="input-group search-input-div">
                                    <input type="hidden" name="page" th:value="${firstPage}">
                                    <input type="search" class="form-control" id="search" name="search" placeholder="제출미션명 / 미션명 검색" th:value="${search}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-dark" id="btn-search"><i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr/>
                    </div>
                    <th:block th:each="ms : ${missionState}">
                        <div class="col-sm-3">
                            <div class="card mission">
                                <input type="hidden" name="missionStateSeq" th:value="${ms.missionStateSeq}">
                                <input type="hidden" name="missionStateWeek" th:value="${ms.missionStateWeek}">
                                <input type="hidden" name="missionSeq" th:value="${ms.missionSeq}">
                                <img class="card-img-top" th:src="${ms.submittedMissionImage}" alt="mission-state-image">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${ms.submittedMissionNm}">미션 현황 제목</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span th:text="제출완료"></span>
                                        <span th:text="|${#temporals.format(ms.submittedMissionDt, 'yyyy-MM-dd HH:mm')}(${ms.missionStateWeek}주차)|"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <th:block
                                                th:if="${ms.approvalYn == 'N' and ms.rejectionYn == 'N'}">
                                            <span th:text="승인대기" style="color: #00af00; font-weight: bold;"></span>
                                        </th:block>
                                        <th:block
                                                th:if="${ms.approvalYn == 'N' and ms.rejectionYn == 'Y'}">
                                            <span th:text="반려" style="color: #f55858; font-weight: bold;"></span>
                                            <span th:text="${#temporals.format(ms.rejectionDt, 'yyyy-MM-dd HH:mm')}"></span>
                                        </th:block>
                                        <th:block
                                                th:if="${ms.approvalYn == 'Y' and ms.rejectionYn == 'N'}">
                                            <span th:text="승인완료" style="color: #007bff; font-weight: bold;"></span>
                                            <span th:text="${#temporals.format(ms.approvalDt, 'yyyy-MM-dd HH:mm')}"></span>
                                        </th:block>
                                    </li>
                                    <li class="list-group-item">
                                        <span>From</span>
                                        <span th:text="${ms.missionNm}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${lastPage == 0}">
                        <div class="col-sm-12 empty-desc-div">
                            <p class="empty-desc">나의 미션 현황이 존재하지 않습니다.</p>
                        </div>
                    </th:block>
                </div>

                <th:block th:if="${lastPage > 0}">

                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${1 == missionState.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link move-page" th:href="@{/user/mypage/my-mission-state(page=${firstPage}, search=${search})}"><i class="fa-solid fa-angles-left"></i></a>
                        </li>
                        <li class="page-item" th:classappend="${1 == missionState.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link move-page" th:href="@{/user/mypage/my-mission-state(page=${missionState.pageable.pageNumber}, search=${search})}"><i class="fa-solid fa-angle-left"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link pageNum" th:classappend="${firstPage == missionState.pageable.pageNumber + 1} ? 'selected'" th:text="${firstPage}" th:href="@{/user/mypage/my-mission-state(page=${firstPage}, search=${search})}">첫번째 페이지</a>
                        </li>

                        <th:block th:if="${lastPage > 1}">

                            <th:block th:if="${missionState.pageable.pageNumber - firstPage > 3}">
                                <li class="page-item">
                                    <a class="page-link pageNum">...</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:each="pNo : ${#numbers.sequence(startPage, endPage)}" th:if="${endPage >= 2}">
                                <a class="page-link pageNum" th:classappend="${pNo == missionState.pageable.pageNumber + 1} ? 'selected'" th:text="${pNo}" th:href="@{/user/mypage/my-mission-state(page=${pNo}, search=${search})}">선택 페이지</a>
                            </li>

                            <th:block th:if="${lastPage - missionState.pageable.pageNumber > 5}">
                                <li class="page-item">
                                    <a class="page-link pageNum"><span>...</span></a>
                                </li>
                            </th:block>

                            <li class="page-item">
                                <a class="page-link pageNum" th:classappend="${lastPage == missionState.pageable.pageNumber + 1} ? 'selected'" th:text="${lastPage}" th:href="@{/user/mypage/my-mission-state(page=${lastPage}, search=${search})}">마지막 페이지</a>
                            </li>
                        </th:block>

                        <li class="page-item" th:classappend="${missionState.totalPages == missionState.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link move-page" th:href="@{/user/mypage/my-mission-state(page=${missionState.pageable.pageNumber + 2}, search=${search})}"><i class="fa-solid fa-angle-right"></i></a>
                        </li>
                        <li class="page-item" th:classappend="${missionState.totalPages == missionState.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link move-page" th:href="@{/user/mypage/my-mission-state(page=${lastPage}, search=${search})}"><i class="fa-solid fa-angles-right"></i></a>
                        </li>
                    </ul>

                </th:block>

            </div>
            <!-- .mission-info-card-div end -->
        </div>

    </div>
    <!-- .index-div end-->

    <div class="modal" id="missionState-modal">
        <input type="hidden" name="get-missionSeq">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" id="missionState-submittedMissionNm" class="form-control" readonly="readonly">
                    <hr/>
                    <textarea id="missionState-submittedMissionDesc" class="form-control" rows="10" readonly="readonly"></textarea>
                    <hr/>
                    <div class="missionState-submit-mission-image-info-div">
                        <div class="missionState-submit-mission-image-div">
                            <img id="missionState-submit-mission-image" alt="mission-image">
                        </div>
                    </div>
                    <div class="my-submit-mission-rejectionDesc" style="display: none;">
                        <input type="text" class="form-control" id="my-rejectionDesc" readonly="readonly">
                    </div>
                    <hr/>
                    <div class="button-div">
                        <button type="button" class="btn btn-dark" id="btn-move-mission">미션 바로가기</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-missionState-submit-mission">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="open-image-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="btn-close-open-image-modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <img alt="approval-mission-image">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- container end -->

</html>