<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mypage.css">
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/mypage.js"></script>
</th:block>

<div layout:fragment="content" class="container">

    <div class="user-info-div">
        <div class="profile-image-div">
            <img id="profile-image" th:src="${#authentication.principal.LoginUserDto.profileImage}" alt="profile_image">
        </div>
        <form>
            <input type="file" id="fileUpload" accept="image/*">
        </form>
        <div class="user-info-table-div justify-content-center">
            <table class="table">
                <colgroup>
                    <col width="30%">
                    <col width="auto">
                </colgroup>
                <tbody>
                <tr>
                    <th>이름</th>
                    <td><input type="text" class="form-control" id="name" name="name"
                               th:value="${#authentication.principal.LoginUserDto.name}" maxlength="6">
                        <span class="errorMsg"></span>
                        <div class="name-regExp-description">
                            <span class="description">&nbsp;* 2자 이상 6자 이하 한글 입력</span><br/>
                        </div>
                    </td>
                </tr>
                <tr th:if="${#authentication.principal.LoginUserDto.provider == null}">
                    <th>비밀번호</th>
                    <td>
                        <button type="button" class="btn btn-primary" id="btn-modify-password" data-toggle="modal"
                                data-target="#modify-password-modal">비밀번호 변경
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td><input type="email" class="form-control" id="email" name="email"
                               th:value="${#authentication.principal.LoginUserDto.email}">
                        <span class="errorMsg"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="user-info-modify-buttons justify-content-center">
            <input type="hidden" id="id" name="id" th:value="${#authentication.principal.LoginUserDto.id}">
            <button type="button" class="btn btn-dark" id="btn-user-info-modify-save">적용</button>
            <button type="button" class="btn btn-light" id="btn-cancel">취소</button>
        </div>

    </div>
    <!-- user-info-div end -->

    <!-- [비밀번호 변경] modal -->
    <div class="modal" id="modify-password-modal" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <h3>비밀번호 확인</h3>
                        <span>비밀번호 변경을 위해 현재 계정 비밀번호를 확인합니다.</span>
                        <input type="password" class="form-control" id="check-password" name="check-password" maxlength="32">
                        <span class="errorMsg"></span>
                    </div>
                    <div class="modal-buttons justify-content-center">
                        <button type="button" class="btn btn-primary" id="btn-move-modify-password-form">확인</button>
                        <button type="button" class="btn btn-light" id="btn-cancel-modal" data-dismiss="modal">취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->

</div>
<!-- container end -->

</html>