<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/user/password.css">
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="/js/user/password.js"></script>
</th:block>

<div layout:fragment="content" class="container">

    <div class="modify-password-div">

        <div class="modify-password-desc">
            <h3>비밀번호 변경</h3>
            <span>&nbsp;비밀번호 변경 시, 재로그인이 필요합니다.</span>
        </div>
        <div class="table-div">
            <table class="table">
                <colgroup>
                    <col width="20%">
                    <col width="auto">
                </colgroup>
                <tr>
                    <th>변경할 비밀번호</th>
                    <td>
                        <input type="password" class="form-control" id="userPw" name="userPw" maxlength="32">
                        <span class="errorMsg"></span>
                        <div class="password-regExp-description">
                            <span class="description">&nbsp;* 영어/숫자/특수문자 3가지 필수 조합</span><br/>
                            <span class="description">&nbsp;* 10자 이상 32자 이하 입력</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td><input type="password" class="form-control" id="check-userPw" maxlength="32"></td>
                    <span class="errorMsg"></span>
                </tr>
            </table>
        </div>
        <div class="modify-password-btn-div justify-content-center">
            <button type="button" class="btn btn-dark" id="btn-modify-password-save">적용</button>
            <button type="button" class="btn btn-light" id="btn-cancel">취소</button>
        </div>

    </div>

</div>
<!-- container end -->

</html>