<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 컨텐츠페이지의 CSS -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="css/join.css"/>
</th:block>
<!-- 컨텐츠페이지의 JS -->
<th:block layout:fragment="script">
    <script src="js/join.js"></script>
</th:block>

<div layout:fragment="content">
    <div class="join-div">

        <h3 class="join-title">회원가입</h3>
        <form>
            <div class="form-group">
                <label for="userId">아이디</label>
                <input type="text" class="form-control" id="userId" th:name="userId" placeholder="dailywork" autocomplete="off" maxlength="20">
                <div class="id-regExp-description">
                    <span class="description">&nbsp;* 영어 혹은 영어/숫자 혼용</span><br/>
                    <span class="description">&nbsp;* 4자 이상 20자 이하 입력</span><br/>
                </div>
            </div>
            <div class="form-group">
                <label for="userPw">비밀번호</label>
                <input type="password" class="form-control" id="userPw" th:name="userPw" placeholder="*******"
                       autocomplete="off" maxlength="32">
                <div class="password-regExp-description">
                    <span class="description">&nbsp;* 영어/숫자/특수문자 3가지 필수 조합</span><br/>
                    <span class="description">&nbsp;* 10자 이상 32자 이하 입력</span><br/>
                </div>
            </div>
            <div class="form-group">
                <label for="check-userPw">비밀번호 확인</label>
                <input type="password" class="form-control" id="check-userPw" placeholder="*******"
                       autocomplete="off" maxlength="32">
            </div>
            <div class="form-group">
                <label for="userNm">이름</label>
                <input type="text" class="form-control" id="userNm" th:name="userNm" placeholder="김델리" autocomplete="off" maxlength="6">
                <div class="name-regExp-description">
                    <span class="description">&nbsp;* 2자 이상 6자 이하 한글 입력</span><br/>
                </div>
            </div>
            <div class="form-group">
                <label for="userEmail">이메일</label>
                <input type="email" class="form-control" id="userEmail" th:name="userEmail" placeholder="example@daliywork.com"
                       autocomplete="off">
            </div>
        </form>
        <div class="join-submit-div">
            <button type="submit" id="btn-join-save" class="btn btn-primary">가입하기</button>
        </div>

    </div>

    <!-- 회원가입 실패 시 모달 -->
    <div class="modal" id="login-fail-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="join-fail-img-div">
                        <img src="/img/fail_icon.png">
                    </div>
                    <div class="join-fail-desc-div">
                        <h3>회원가입에 실패하였습니다.</h3>
                        <p></p>
                    </div>
                    <div class="join-fail-btn-div">
                        <button type="button" class="btn btn-primary" id="btn-close-modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>