.board-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.board-title p {
    font-size: 0.9rem;
    color: gray;
}

.board-menu {
    margin-top: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
}

.board-menu .board-count p {
    margin: 0px;
    padding-top: 7px;
}

.board-menu .board-count span {
    color: #007bff;
}

.board-menu .board-search {
    width: 50%;
    margin-left: auto;
    margin-right: 10px;
}

.board-menu .board-search select {
    margin-right: 10px;
}

.board-menu .board-search input {
    width: 50%;
}

.board-menu .board-button button {
    width: 120px;
}

.board-menu .board-button i {
    vertical-align: baseline;
}

.board-list-div {
    min-height: 650px;
}

.board-list-div .table {
    text-align: center;
}

.board-list-div .table th {
    border-bottom: none;
}

.board-list-div .table tr:last-child {
    border-bottom: 1px solid #dee2e6;
}

.board-list-div .table tbody tr:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    font-weight: bold;
}

.board-list-div .table img {
    width: 30px;
    border-radius: 50%;
}

.board-list-div .table span {
    vertical-align: middle;
}

.board-list-div .table .board-type {
    padding: 5px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
}

.board-list-div .table .normal {
    color: white;
    background-color: #343a40;
}

.board-list-div .table .qa {
    color: white;
    background-color: #007bff;
}

.board-list-div .table .pr {
    color: white;
    background-color: #ff5a5a;
}

.pagination {
    margin-top: 40px;
    margin-bottom: 50px;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
}

.page-item .move-page {
    color: #555;
}

.page-item .pageNum {
    color: #555;
    border-color: white;
}

.page-item .selected {
    background-color: #343a40;
    color: white;
}